body {
    margin: 0;
    
}

.page-1 {
    position: relative;
}

.page {
    width: 1200px;
    margin: auto;

    background: #e5e5e5;
    min-height: 100vh;
}


.page-1__title-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    font-weight: 475;
    position: absolute;
    margin: 0;
    left: 750px;
    width: 346px;
    top: 20px;
    
    
}

.page-1__title-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    font-weight: 475;
    margin: 0;
    position: absolute;
    left: 795px;
    top: 76px;
    width: 346px;
    
  
}

.side-textes {
    position: relative;
}

.left-side-text {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
    position: absolute;
    top: 528px;
    left: 126px;
    
}

.right-side-text {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
    position: absolute;
    top: 528px;
    left: 1650px;
}

.images-page-1 {
    position: relative;
}

.page-1-image-1 {
    width: 360px;
    height: 600px;
    position: absolute;
    left: 760px;
    top: 177px;
}

.page-1-woman {
    width: 323.26px;
    height: 569.2px;
    margin: 0;
    position: absolute;
    left: 800px;
    top: 190px;
    
}
