* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
}

.container {
  max-width: 1080px; 
  margin: 0 auto;
  padding: 0 20px;
}

.page-2-1080x1080 {
  max-width: 1080px;
  height: 1080px;
  margin: 0 auto;
  top: 150px;
  position: relative;
  background: #f4f4f4;
  margin-top: 13.888%;
  margin-bottom: 275px;
}

.page-2-section-1080x951 {
  position: relative;
  width: 1080px;
  height: 951px;
  margin: 0 auto;
}

.page-2-top-menu {
  position: absolute;
  width: 992px;
  height: 24px;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
}

.script {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 130px;
  font-weight: 300;
  margin: 0;
}

.subtitle {
  margin: 0;
  font-size: 28px;
  font-weight: 300;
}

.title {
  font-size: 50px;
  letter-spacing: 4px;
  margin-top: 5px;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.page-2-text-span-dark {
  font-family: "Montserrat-Medium";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 1px;
}

.page-2-text-span-light {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 1px;
  line-height: 100%;
  color: #9e9e9e;
  letter-spacing: 0%;
}

.line {
  position: relative;
  height: 2px;
  background: #cfcfcf;
  margin: 25px 0;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #cfcfcf;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.line::before {
  left: 0;
}

.line::after {
  right: 0;
}
.page-2-text-picture {
  position: relative;
}
.page-2-picture-small {
  position: absolute;
  left: -40px;
}

.page-2-text-box {
  position: absolute;
  width: 458px;
  height: 200px;
  top: 729px;
  left: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0%;
}

.text-box strong {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.text-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  grid-row: 2;
  grid-column: 1;
}

.bold {
  font-weight: bold;
}

.right {
  position: absolute;
  width: 255px;
  height: 640px;
  top: 311px;
  right: 0;
}
.page-2-font-left-said {
  position: relative;
}
@font-face {
  font-family: "Ekaterina Velikaya One";
  src: url("../../fonts/EkaterinaVelikayaOne.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shelley Volante";
  src: url("../../fonts/1ShelleyVolante.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shelley Volante";
  src: url("../../fonts/3900Minutes-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.page-2-font-P {
  font-family: "Ekaterina Velikaya One";
  font-size: 410.74px;
  position: absolute;
  top: -622px;
  left: -24px;
  bottom: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 400;
}

.page-2-font-racticality {
  position: absolute;
  font-family: "Ekaterina Velikaya One";
  font-size: 113.23px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  top: 231px;
  left: 302px;
}

.page-2-font-x {
  font-family: "Shelley Volante";
  position: absolute;
  font-size: 77.63px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  top: 457px;
  left: 437px;
}

.page-2-font-CREATIVITY {
  font-family: "3900 Minutes Regular";
  position: absolute;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 98.74px;
  top: 546px;
  left: 150px;
}
.page-2-img-big {
  width: 255px;
  height: 640px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.page-2-img-small {
  width: 255px;
  height: 200px;
  position: absolute;
  top: 751px;
  left: 550px;
}

.main-text {
  font-size: 28px;
  font-weight: 500;
  color: #333;
  line-height: 1.4;
}

.sub-text {
  margin-top: 15px;
  font-size: 20px;
  color: #9e9e9e;
  line-height: 1.6;
}

.image-block img {
  width: 320px;
  height: auto;
  border-radius: 4px;
}

.page {
  max-width: 1080px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.page-1 {
  position: relative;
  min-height: 900px;
  
}

.page-1__title-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-weight: 475;
  position: absolute;
  margin: 0 auto;
  left: 335px;
  top: 26px;
}

.page-1__title-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-weight: 475;
  margin: 0 auto;
  position: absolute;
  left: 380px;
  top: 82px;
}

.side-textes-container {
  position: relative;
}

.left-side-text {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  top: 528px;
  left: 40px;
}

.right-side-text {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  top: 528px;
  right: 40px;
}

.images-page-1 {
  position: relative;
}

.full_ticket {
  margin: 0;
  width: 346px;
  height: 728px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 177px;
  left: 355px;
}

.page-1__text-parent {
  position: relative;
}

.page-1__text {
  text-align: center;
  line-height: 1.6;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
  position: absolute;
  width: 1038px;
  top: 931px;
}

.page-3 {
  position: relative;
}

.page-3-images {
  position: relative;
}



.page-3-main-1 {
  width: 1080px;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-3-main-2 {
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 749px;
}

 .page-3-top-menu {
  background-color: white;
  position: absolute;
  width: 986px;
  height: 18px;
  left: 47%;
  top: 201px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}

.page-3-top-menu span {
  padding: 0 40px;
 
}
 .page-3-text {
  margin: 0;
  width: 543px;
  height: 54px;
  position: absolute;
  top: 679px;
  left: 56px;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 15.5px;
 }


.page-3-last-text {
  color: white;
  font-size: 70px;
  position: absolute;
  top: 910px;
  left: 156px;
  line-height: 100%;
  font-weight: 400;

}

